body{
    background-color:rgb(7, 81, 218)
}

#form-container-div{
    width: 90%;
    background-color: white;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgb(0, 31, 87);
}
